.box{
    border:10px solid black;height:500px;width:500px;margin:1px ;color:red;border-width: 1px;
    padding:10px;text-align: left;
}
.NewStyle{
    padding-left:50px;
    padding-right:50px;
    height:100px;width:100px
}
.TextColor{
    font:bold;color:rgb(71, 71, 28);border:100px;
    display:inline-block
}
Span{
    display:block
}
/* select items to comment and Ctrl + / to comment  */
